body{
   font-size:14px;
   font-family:"Helvetica Neue","Helvetica","Arial","sans-serif";
   color: #000078;
 }  

.titulo{padding-top:40 rem;line-height:5rem}
.titulo{font-size:10em;padding-left:20px;font-size:10px;background-color:#73EDFF}
.texto{fpadding-top:1px;padding-left:20px;

